{% extends "layout.twig" %}

{% block content %}

<div class="canvas">
    <header class="bk-header">
        <div class="header-wrap">
            {{widget('profile', 'headercolumn1profilephone', { 'profileType':'phone', 'phone':'profile'})|raw}}
            <div class="companyheader">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
            {{widget('profile', 'headercolumn3profileemail', { 'profileType':'email', 'email':'profile'})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
    </header>
    
    <div class="wrapper">
    	{{widget('feature', 'featurehome', {"header": "profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
    </div>
    
    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>
    
    <footer class="bk-footer wrapper">
        {{widget('profile', 'footercolumn1profilephone', { 'profileType':'phone', 'phone':'profile'})|raw}}
        <div class="companyheader">
            {{widget('logo', 'footercolumn2logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>
        {{widget('profile', 'footercolumn3profilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
    </footer>
</div>

{% endblock %}